* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary:lavender;
    --fill:lightgreen;
    --title:darkgreen;
    --border:black;
}

/* header */
.header {
    height: 100px;
    background:var(--primary);
    margin: -10px;
}

header h1 {
    text-indent: 120px;
    height: 60px;
    line-height: 40px;
    display: inline-block;
    margin-left: -25px;
    padding: 20px;
    background-color:var(--fill);

}

.header nav {
    padding-top: 30px;
    margin-right: 40px;
    float: right;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
}

/* background image */
.background-image {
    height: 250px;
    margin-bottom: 25px;
    background-color:blue;
}

/* formatting the three main sections */
main,
footer,
.bio {
    width:100%;
    float:right;
    display: flex;
    flex-wrap: wrap;;
}

main {
    min-height: 60vp;
}

article,
footer {
    min-height: 20vp;
}

.bio,
.projects,
footer nav {
    width: 70%;
    float: right;
    display: flex;
    height: 100%;
    margin: 1%;
}

.projects {
    flex-wrap: wrap;
    height: 60vp;
}

/* sidebar styling */
footer h1,
article h1,
main h1 {
    font-size: xx-large;
    text-align: right;
    padding: 5%;
}

.sidebar-top,
.sidebar-middle,
.sidebar-bottom {
    width: 23%;
    border-right: 2px solid var(--border);
    float:left;
}

/* bio */
.bio p {
    margin-left: -5%;
    margin-right: 9%;
}

/* main */
#big {
    width:98%;
    height:400px;
}

section {
    width: 48%;
    border: 4px solid var(--primary);
    height: 100px;
    margin: 1%;
    background-color: purple;
}

.textbox {
    border: 4px solid var(--primary);
    background-color: var(--primary);
    position:relative;
    float: left;
    top: 50%;
    font-size: 12px;
}

#bottom-corner {
    top: 88%;
}

/* footer */
footer {
    margin-top: 1%;
    margin-bottom: 1%
}

footer nav {
    width:70%;
    float:right;
    justify-content: space-around;
    display: flex;
    height: 100px;
    margin: 1%;
}

footer a {
    padding:38px 0;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    section {width}
}