* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background:#6290C8;
    --primary:#376996;
    --fill:white;
    --sidebar:#3A2D32;
    --border:#B88E8D;
}

/* header */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: baseline;
    white-space: nowrap;
}

.header {
    width: 25%;
    float: left;
    margin-top: 1px;
    margin-bottom: 32px;
    padding: 15px;
}

.header h1 {
    text-align: right;
    color: var(--sidebar)
}

.topnav {
    display: flex;
    float: right;
    width: 60%;
    justify-content: space-evenly;
}

.topnav a {
    margin-right: 15%;
    text-decoration: none;
}

/* background image */
.background-image {
    width: 100%;
    min-height: 30vh;
    margin-bottom: 30px;
    background-image: url(./images/IMG_4196.jpg);
    background-size: cover;
    background-position: center;
}

.background-image h2 {
    font-size: large;
    padding: 10px;
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    float: right;
    background-color: var(--fill);
    color: var(--sidebar);
    position: relative;
    margin-top: 140px;
    margin-right: 50px;
}

/* formatting the three main sections */
main,
footer,
.bio {
    width:100%;
    float:right;
    display: flex;
    flex-wrap: wrap;;
}

main {
    min-height: 60vp;
}

article,
footer {
    min-height: 20vp;
}

.bio,
.projects,
footer nav {
    width: 70%;
    float: right;
    display: flex;
    height: 100%;
    margin: 1%;
}

.projects {
    flex-wrap: wrap;
    height: 60vp;
}

/* sidebar styling */
footer h1,
article h1,
main h1 {
    font-size: xx-large;
    text-align: right;
    padding: 5%;
}

.sidebar-top,
.sidebar-middle,
.sidebar-bottom {
    width: 23%;
    border-right: 2px solid var(--border);
    float:left;
    color: #3A2D32;
}

/* bio */
.bio p {
    margin-left: -5%;
    margin-right: 9%;
}

/* main */
#big {
    width:98%;
    height:400px;
}

.projects a {
    width: 48%;
    border: 4px solid var(--sidebar);
    height: 100px;
    margin: 1%;
    background-color: #e7dfdb;
        opacity: 0.3;
        background-image: radial-gradient(#517664 0.5px, #e7dfdb 0.5px);
        background-size: 10px 10px;
}

.projects a:hover {
    background-color: #e7dfdb;
        opacity: 0.9;
        background-image: radial-gradient(#517664 0.5px, #e7dfdb 0.5px);
        background-size: 10px 10px;
    transition: all 0.8s ease;
}

.textbox {
    z-index: 1;
    opacity: 1;
    border: 4px solid var(--sidebar);
    background-color: var(--fill);
    color: var(--sidebar);
    position:relative;
    float: left;
    padding: 1%;
    top: 37%;
    font-size: 14px;
    left: 1.5%;
}

#bottom-corner {
    top: 81%;
}

/* footer */
footer,
header {
    margin-top: 1%;
    margin-bottom: 1%
}

footer nav {
    justify-content: space-around;
}

footer a {
    padding:38px 0;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
 /* header */
    header {
        margin-top: 0;
        margin-bottom: 0;
        gap: 0;
        flex-wrap: wrap;
    }

    .header {
        justify-content: center;
        text-indent: 0;
        height: 10vh;
        width: 100%;
        background-color: var(--primary);
        margin: 0;
    }
    
    .header h1 {
        text-align: center;
    }

    .topnav {
        height: 8vh;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: var(--fill);
    }

    .topnav a {
        margin-right: 0;
        justify-content: space-evenly;
    }
/* background image */
    .background-image {
        margin-top: 55px;
        margin-bottom: 0px;
    }

    .bio,
    .bio p,
    .projects {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;
    }

    footer nav {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .sidebar-top,
    .sidebar-middle,
    .sidebar-bottom {
        width: 94%;
        border-bottom: 2px solid var(--border);
        border-right: none;
        justify-content: center;
        margin-left: 4%;
        margin-right: 4%;
    }

    footer h1,
    article h1,
    main h1 {
        font-size: xx-large;
        text-align: left;
        padding: 5%;
        margin-bottom: -3%;
    }
    
    .hide-on-small {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .header {
        height: 61px;
    }

    .subtitle {
        margin-top: 80px;
        margin-right: 30px;
    }

    .subtitle h2 {
        font-size: medium;
    }

    .projects a {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;
    }

    #big {
        height: 100px;
    }

    #bottom-corner {
        top: 35%;
    }

    footer nav {
        flex-direction: column;
        justify-content: flex-end;
    }

    footer a {
        margin-left: 30px;
        padding:12px 0;
        text-decoration: none;
    }

    .sidebar-top,
    .sidebar-middle,
    .sidebar-bottom {
        margin-bottom: 10px;
    }

    .background-image {
        width: 100%;
        min-height: 140px;
   }
}